@{
    ViewData["Title"] = "NorParser";
}
<div>
    <form asp-controller="App" asp-action="ConvertToXml" method="get">
        <textarea id="text" name="text"></textarea>
        <button type="submit">To Xml</button>
    </form>
</div>
<div>
    <form asp-controller="App" asp-action="ConvertToCsv" method="get">
        <textarea id="text" name="text"></textarea>
        <button type="submit">To Csv</button>
    </form>
</div>
