@{
    ViewData["Title"] = "NorParser";
}

@section Scripts {
    <script src="~/js/site.js"></script>
}

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <p>Input text below to convert it to XML or CSV</p>
            <div class="form-group">
                <textarea class="form-control" id="input" rows="23"></textarea>
            </div>
            <button class="btn btn-primary btn-lg" id="toXmlButton">To XML</button>
            <button class="btn btn-primary btn-lg" id="toCsvButton">To CSV</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <p>The convertion result will be displayed below</p>
            <div class="form-group">
                <textarea id="resultTextArea" class="form-control" rows="25"></textarea>
            </div>
        </div>
    </div>
</div>
